<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-10 mt-5 ui raised segment">
    <form (submit)="login($event)" class="ui equal width form">
      <h1 class="ui large center aligned header">Administrator</h1>
      <!-- <div class="fields">
        <div class="required field">
            <label for="category">Login As</label>
            <input type="hidden" id="category" name="category">
            <select class="ui selection dropdown">
                <option selected class="text" value="">Choose Category</option>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <option class="item" value="admin">Admin</option>
                    <option class="item" value="faculty">Faculty</option>
                    <option class="item" value="student">Student</option>
                </div>
            </select>
        </div>
      </div> -->
      <div class="fields">
        <div class="required field">
            <label for="code">Code</label>
            <div class="ui icon input">
              <input type="text" name="code" id="code" placeholder="Code" required>
              <i class="id card icon"></i>
            </div>

        </div>
      </div>
      <div class="fields">
        <div class="required field">
          <label for="password">Password</label>
          <div class="ui icon input">
            <input type="password" name="password" id="password" placeholder="Password" required>
            <i class="ui lock icon"></i>
          </div>
        </div>
      </div>
      <div class="ui bottom attached buttons">
        <button class="ui green button">Login</button>
      </div>
    </form>
  </div>
</div>
